# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Databases & Stores
chromadb_store/
*.db
*.sqlite

# Large models (downloaded locally)
models/
intfloat/
ocr_engine/

# User Uploads & Temp
uploads/
*.pdf
logs/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
